
{% extends "base.html" %}

{% block contenido %}

<form id="register-form" class="topvote-form">
    <div class="form-group">
        <label for="email_id">Introduce tu email</label>
        <input type="email" name="email"  class="form-control" id="email_id" aria-describedby="emailHelp" placeholder="Email">
        <small id="emailHelp" class="form-text text-muted">No compartiremos tu email con nadie.</small>
    </div>
    <div class="form-group">
        <label for="username_id">Crea un nombre de usuario</label>
        <input type="username" name="username"  class="form-control" id="username_id" placeholder="Nombre de usuario">
    </div>
    <div class="form-group">
        <label for="password_id">Elige una contraseña</label>
        <input type="password" name="password" class="form-control" id="password_id" placeholder="Contraseña">
    </div>
    <div class="boton">
        <button type="submit" class="btn btn-primary">Empezar a votar!</button>
    </div>
    <div class="alert alert-danger" role="alert" id="mensaje-error" style="display:none;text-align:center"></div>

</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static',filename='js/topvote.js') }}"></script>
{% endblock %}